.row
  .large-12.columns
    %h1
      New Word Dar

    %h2
      Word Statistics

    .row
      .large-1.columns.large-offset-10
        = form_tag refresh_statistics_path, method: :patch
        %button.small.button
          Refresh Statistics

    - if @helpful_hint
      %p
        There are no words in your database. Run
        %code
          rake db:seed
        for test data.

    %table
      %tr
        %th
          Word
        %th
          Yesterday
        %th
          Two Days Ago
        %th
          This Week
        %th
          Last Week
      = render partial: 'word_stats', collection: @words, as: :word