// Place all the styles related to the Words controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
span.positive {
  background-color: springgreen;
  color: white;
}

span.negative {
  background-color: honeydew;
  color: red;
}

.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.pretty th .asc {
  background-image: url(/assets/up_arrow.png);
}

.pretty th .desc {
  background-image: url(/assets/down_arrow.png);
}

.pagination {
  * {
    border: 1px solid black;
    padding: 1px 4px;
  }
  .gap {
    border: none;
  }
  .previous_page {
    margin-right: 20px;
  }
  .next_page {
    margin-left: 20px;
  }
  .current {
    color: white;
    background-color: black;
  }
  .disabled {
    color: #ddd;
    border-color: #ddd;
  }
}