// Place all the styles related to the Words controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
span.positive {
  background-color: springgreen;
  color: white;
}

span.negative {
  background-color: honeydew;
  color: red;
}

.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.pretty th .asc {
  background-image: url(/assets/up_arrow.png);
}

.pretty th .desc {
  background-image: url(/assets/down_arrow.png);
}